@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-height: 100%;
    overflow: hidden;
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.card {
    margin-top: 5%;
    width: 45em;
    height: 28em;
    box-sizing: content-box;
    border-radius: 25px;
    background-color: rgb(74, 74, 74);
    box-shadow: 1px 1px 20px -5px black;
    font-family: 'Open Sans', sans-serif;
}

#chip, #visa, #logo, #plus, #banco, 
#google-play, #app-store, 
.b-line, .w-line, .text-span, p {
    position: relative;
}

#chip {
    top: 11em;
    left: 6.5em;
}

#visa {
    top: 23em;
    left: 30.5em;
}

#logo {
    top: 1.5em;
    left: 27em;
}

.row:first-child > .card-info:nth-child(2) > .card-text {
    top: .2em;
    left: 2em;
    font-size: 150px;
    font-weight: 700;
    color: rgb(64, 64, 64);
    text-shadow: 1px 1px 15px rgb(65, 65, 65);
}

#card-name, #user-name, .card:nth-child(2) {
    color: white;
    text-shadow: 1px 1px 15px rgba(255, 255, 255, 0.395);
}

#card-name {
    bottom: 5.3em;
    left: 10.1em;
    font-size: 45px;
    font-weight: bold;
}

#user-name {
    top: 2em;
    left: 2em;
    font-size: 30px;
    font-weight: 400;
}

/* trás */
.card:nth-child(2) {
    background-color: rgb(255, 131, 43);
}

.row:nth-child(1) > .card-info:nth-child(1) > .card-text {
    top: .8em;
    left: 3em;
    font-size: 10.5px;
}

.b-line {
    top: 1em;
    height: 7em;
    box-sizing: content-box;
    background-color: rgb(20, 20, 20);
}

.w-line {
    top: 2em;
    left: 1em;
    width: 22em;
    height: 4em;
    box-sizing: content-box;
    background-color: white;
}

.line-text {
    bottom: .5em;
    padding-left: 9.2em;
    color: rgba(0, 0, 0, 0.647);
    font-size: xx-large;
    font-family: 'Russo One', sans-serif;
    text-shadow: 1px 1px 15px rgba(255, 255, 255, 0.559);
}

.card-phone-number {
    bottom: 4.7em;
    padding-left: 24em;
    font-weight: 500;
    line-height: 1.5;
}

/* val, assinatura e cod */
.card-text-group:first-of-type {
    display: flex;
    justify-content: center;
}

.card-text-group:first-of-type > .text-item:nth-of-type(1n) {
    bottom: 8.6em;
    right: 18.2em;
    margin-left: 8.6%;
    font-size: 11px;
}

/* card number e outras infos */ 
.card-text-group:nth-of-type(2) > .text-item:nth-of-type(1n) {
    bottom: 14.65em;
    font-size: 13px;
    line-height: 1.95;
    width: fit-content;
    box-sizing: content-box;
}

.card-text-group:nth-of-type(2) > .text-item:nth-of-type(1) {
    left: 36.8em;
}

.card-text-group:nth-of-type(2) > .text-item:nth-of-type(2),
.card-text-group:nth-of-type(2) > .text-item:nth-of-type(4) {
    left: 39.2em;
}

.card-text-group:nth-of-type(2) > .text-item:nth-of-type(3) {
    left: 40em;
}

.card-text-group:nth-of-type(2) > .text-item:nth-of-type(5) {
    bottom: 21em;
    left: 52.7em;
    font-size: 13px;
    font-weight: 400;
    word-spacing: 2px;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}

.card-number-group .number-item {
    bottom: 15em;
    left: .5em;
    font-size: 30px;
    font-weight: 600;
    word-spacing: 12px;
}

.card-text-group:nth-of-type(4) > .text-item {
    font-weight: 700;
}

.card-text-group:nth-of-type(4) > .text-item:first-child {
    bottom: 26.8em;
    left: .9em;
    width: fit-content;
    box-sizing: content-box;
}

.text-span {
    bottom: 32.5em;
    left: 32.5em;
    width: 8em;
    height: 6em;
    box-sizing: content-box;
    border-radius: 15px;
    background-color: rgb(151, 151, 151);
}

/* p/ arrumar a postion e tirar as barras laterais */
.card-text-group:nth-of-type(4) .card-image {
    margin-top: -75%;
}

/* Ajuste das imagens */
#plus, #banco, #app-store, #google-play {
    display: flex;
}

#plus {
    bottom: 5em;
    left: 23em;
}

#banco {
    bottom: 6.8em;
    left: 33em;
}

#app-store {
    top: 1.5em;
    left: .8em;
}

#google-play {
    bottom: 1em;
    left: 10em;
}

/* Mobile */
@media screen and (max-width: 1440px) {
    .container {
        flex-direction: column;
        margin-left: 15%;
    }
}